.main {
    grid-area: main;
    background-color: $main;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
    @media(max-width: 400px) {
        grid-area: title;
    }

}