@import'colors';
@import'aside';
@import'menu';

body{
    margin: 0;
}

.page   {
    display: grid;
    grid-template-areas: 
    "aside menu title sidebar"
    "aside social main sidebar"
    "aside . main sidebar"
    "aside . main ."
    "aside profile main .";
    grid-template-columns: 61px 259px 1121px 479px;
    grid-template-rows: 270px 121px 258px 321px 110px;
    min-width: 1920px;
    min-height: 1080px;
    background-color: $light;
    @media screen and (min-width: 320px) and (max-width: 400px){
      grid-template-columns: minmax(350px auto);
      grid-auto-rows: auto;
      grid-gap: 16px;
      grid-template-areas: 
        "menu"
        "title"
        "sidebar"
        "main"
        "profile" 
        "social";
    }
}




